
html {

}

* {
	box-sizing: border-box;
}

a, a:hover, button, button:hover {
	transition: all 200ms linear;
	cursor: pointer;
}

body {
	background-color: #FFF;
	font-family: Arial, "sans-serif";
	font-size: 1.26vmax;
	line-height: 1.9vmax;
	color: #323232;
}

.container {
	width: 75vw;
	margin: 0 auto;
	position: relative;
}

.blue {
	color: #00aaef;
}

.title {
	margin: 0 auto;
	z-index: 5;
	width: fit-content;
	position: relative;
	top: -2.6vh;
	margin-bottom: 8vh;
}

.title h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 3.8vw;
	color: #323232;
	line-height: 2.84vw;
	margin: 0;
	margin-bottom: 1.22vh;
	font-weight: 400;
}

.dec-svg {
	color: #00aaef;
	width: 3vw;
	margin: 0 0.8vw;
}

.title-line {
	background-color: #00aaef;
	width: 100%;
	height: 0.2vh;
}

/* **********************************

HEADER

************************************ */

header {
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url("../img/header01.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding-top: 7vh;
	padding-bottom: 8vh;
}

#top-header {
	height: 10vh;
	overflow: hidden;
	color: #777b96;
}


#logo {
	width: 15vh;
}

#call {
	text-decoration: underline;
	cursor: pointer;
}

nav li {
	list-style: none;
}

nav a {
	text-decoration: none;
	color: #fff;
}

/* **********************************

ABOUT

************************************ */


#about {
	width: 100%;
	padding-top: 18vh;
	padding-bottom: 22vh;
}

#about-info {
	width: 30vw;
	font-size: 3.8vw;
	text-transform: uppercase;
}

#about-text {
	width: 44vw;
	padding-right: 1.5vw;
}

#about-text ol {
	margin: 6vh 0;
	padding-left: 0;
	padding-right: 13vw;
}

#about-text ol li {
	margin-bottom: 1.18vh;

}



/* **********************************

GALLERY

************************************ */

#gallery {
	background-color: #eee;
}

.line-img {
	height: 40vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.img-address p{
	margin-bottom: 3.9vh;
}

.img-address a{
	text-decoration: none;
	color: #00aaef;
}

#img01 {
	width: 49vw;
	background-image: url("../img/gallery/gallery01.png");
}

#img02 {
	width: 23vw;
	background-image: url("../img/gallery/gallery02.png");
}

#img03 {
	width: 36vw;
	background-image: url("../img/gallery/gallery03.png");
}

#img04 {
	width: 36vw;
	background-image: url("../img/gallery/gallery04.png");
}

#img05 {
	width: 23vw;
	background-image: url("../img/gallery/gallery05.png");
}

#img06 {
	width: 49vw;
	background-image: url("../img/gallery/gallery06.png");
}

#gallery-button {
	width: 100%;
	height: 20vh;
	text-align: center;

}

.button {
	height:  6.5vh;
	width: 15vw;
	color: #fff;
	background-color: #00aaef;
	font-size: 1.8vh;
	border: 3px solid #00aaef;
}

.button:hover {
	background: #FFF;
	color: #00aaef;
	border: 3px solid #00aaef;
}


/* **********************************

CONSULTATION

************************************ */


#consult-head {
	margin-top: -90px;
}

#consult-block {
	margin-top: 12.5vh;
	margin-bottom: 20vh;
}

#consult-info {
	width: 36vw;
}

#consult-info h2{
	font-size: 3.5vw;
	font-weight: 300;
	margin: 1.1vh 0;
	line-height: 3.5vw;
}

#consult-info-text {
	margin-top: 5.75vh;
}

#consult-form {
	width: 30vw;
	height: 18.9vw;
}

.consult-input {
	width: 100%;
	height: 6.8vh;
	text-align: center;
	background-color: #eee;
	color: #393939;
	border: 0;
	font-size: 1.1vw;
	margin: 0.78vw 0;
}

#consult-button {
	width: 100%;
	margin-top: 0.78vw;
} 

/* **********************************

TESTIMONIALS

************************************ */
